.formemailcontainer{
    /* width: 60vw; */
    height: 50vh;
    width: 100vw;
    top: 5vh;
    
}
mat-icon{
    margin-left: 2px;
}
.textarea{
    width: 100%;
}
mat-accordion{
    width: 65%;
}

.emaillistcontainer{
    width: 25vw;
    height: 44vh;
    margin-left: 1%;
}
.containerform{
    display: flex;
    margin: 0px;
}